.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
}

.header__logo {
  width: 100px;
}
.header__left {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.header__middle {
  padding: 5px;
}
.MuiSvgIcon-root {
  padding: 5px !important;
  color: blue;
}
@media only screen and (max-width: 600px) {
  .MuiSvgIcon-root {
    color: red;
  }
  .header__middle {
    display: none;
  }
  .header__right {
    display: flex;
    padding: 0px;
  }
  .MuiSvgIcon-root {
    padding: 2px;
  }
}
