* {
  margin: 0;
  padding: 0;
}
.app__container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  max-width: 100%;
}
@media only screen and(max-width:600px) {
  span {
    display: none;
  }
}
